.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  padding: 30px;
  margin: 10px auto;
  margin-left: auto ;

}
.container {
  max-width: 800px;
  margin: 30px auto;
  display: grip;
  overflow: auto;
  min-height: 700px;
  grid-template-columns: 1fr, 1fr, 1fr,1fr;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.body{
  max-width: 650px;
  margin: 10px auto;
  overflow: auto;
  min-height: 550px;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 5px;
}
.header{
  max-width: 650px;
  margin: 10px auto;
  overflow: auto;
  min-height: 20px;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 5px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.card {
  font-family: "Times New Roman";
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  transition: width 2s, height 4s,background-color 2s;
}
.card:hover{
  background-color: #ffcccc;
  width: 800px;
  height: 150px; 
}
